* {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}
body {
	background: linear-gradient(-60deg, #e7aa38, #b721bd, #1841c9, #16f1c2);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
}
.container {
	max-width: 960px;
	margin: 0 auto;
}

.title {
	text-transform: uppercase;
	font-size: 28px;
	color: white;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
.wrapper {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.block {
	min-width: 400px;
}
.subtitle,
.list_title {
	font-size: 22px;
	color: white;
	font-weight: 500;
	margin: 0;
	padding: 0;
	text-align: center;
}
.list_title {
	margin-top: 20px;
	text-align: left;
}
.list {
	list-style-type: none;
	color: white;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
	padding: 0;
}
li {
	margin-bottom: 10px;
}

a,
a:visited {
	text-decoration: none;
	color: white;
	transition: all 0.5s;
}
a:hover {
	color: #759ce6;
}

.descr {
	font-size: 20px;
	color: white;
	font-weight: 500;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 20px;
}
.projects {
	min-height: 1000px;
	padding: 30px 0;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
